@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.u-facebook {
    background-color: #1877F2;
}

.u-twitter {
    background-color: #000;
}

.u-line {
    background-color: #00B900;
}

.u-feed {
    background-color: #ff8227;
}