@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Licorice&family=Noto+Sans+JP:wght@100..900&display=swap&family=Material+Symbols+Outlined");
:root {
  --eto-textcolor: #252525;
  --eto-sub-textcolor: rgba(152, 96, 94, 0.8);
  --eto-back-textcolor: #fff;
  --eto-back-subtextcolor: rgba(237, 228, 225, 0.3);
  --eto-backcolor: #EDE4E1;
  --eto-backcolor-opacity: rgba(237, 228, 225, 0.5);
  --eto-backcolor-secondary: #7B5544;
  --eto-backcolor-dark: #422F27;
  --eto-backcolor-over: rgba(66, 47, 39, 0.4);
  --eto-backcolor-hover: rgba(66, 47, 39, 0.6);
  --eto-bordercolor: #7B5544;
  --eto-link-textcolor: #7B5544;
  --eto-link-hover-textcolor: #EDE4E1;
  --eto-btn-bordercolor: #7B5544;
  --eto-btn-textcolor: #7B5544;
  --eto-btn-hover-textcolor: #fff;
  --eto-btn-hover-backcolor: #7B5544;
  --eto-main-color:#7B5544;
  --eto-main-03:rgba(152, 96, 94, 0.3);
  --eto-main-05:rgba(152, 96, 94, 0.5);
  --eto-main-07:rgba(152, 96, 94, 0.7);
  --eto-main-lightcolor:#EDE4E1;
  --eto-main-light-03:rgba(237, 228, 225, 0.3);
  --eto-main-light-05:rgba(237, 228, 225, 0.5);
  --eto-main-light-07:rgba(237, 228, 225, 0.7);
  --eto-main-darkcolor:#422F27;
  --eto-main-dark-03:rgba(66, 47, 39, 0.3);
  --eto-main-dark-05:rgba(66, 47, 39, 0.5);
  --eto-main-dark-07:rgba(66, 47, 39, 0.7);
  --eto-white: rgb(255 255 255);
  --eto-white-03: rgba(255, 255, 255, 0.3);
  --eto-white-05: rgba(255, 255, 255, 0.5);
  --eto-white-08: rgba(255, 255, 255, 0.8);
}

/*
カスタムフィールド・カスタム管理画面
_________________________________________*/
h2.hndle {
  padding-left: 20px;
  font-size: 1rem;
}

.postbox .inside {
  padding: 20px;
  margin: 0;
}
.postbox input[type=text],
.postbox input[type=url],
.postbox textarea {
  width: 100%;
}

.admin_mybox {
  margin-bottom: 20px;
}
.admin_mybox input[type=text],
.admin_mybox input[type=url],
.admin_mybox textarea {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .admin_mybox input[type=text],
  .admin_mybox input[type=url],
  .admin_mybox textarea {
    width: 50%;
  }
}

h3.wp-heading-inline {
  margin-top: 0;
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  .admin_tr {
    display: flex;
    width: 50%;
  }
  .admin_tr input[type=text] {
    width: 100%;
  }
  .admin_tr p:first-child {
    width: 150px;
  }
  .admin_tr p:nth-child(2) {
    flex-grow: 1;
  }
}

/*
エディター内デザイン
_________________________________________*/
h2.wp-block-heading {
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 15px 10px;
  color: var(--eto-main-color);
  border-bottom: 3px solid var(--eto-bordercolor);
}
@media screen and (min-width: 1280px) {
  h2.wp-block-heading {
    font-size: 1.75rem;
    padding: 20px 10px;
  }
}
h2.wp-block-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 150px;
  height: 1px;
  background-color: var(--eto-main-color);
}

h3.wp-block-heading {
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  color: var(--eto-main-color);
}
@media screen and (min-width: 1280px) {
  h3.wp-block-heading {
    font-size: 1.5rem;
  }
}
h3.wp-block-heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 200px;
  height: 3px;
  background-color: var(--eto-main-color);
}

h4.wp-block-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  color: var(--eto-main-color);
  border-left: 3px solid var(--eto-bordercolor);
}
@media screen and (min-width: 1280px) {
  h4.wp-block-heading {
    font-size: 1.25rem;
  }
}

h5.wp-block-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  color: var(--eto-main-color);
}

h6.wp-block-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  color: var(--eto-main-color);
}

ul.wp-block-list {
  list-style: disc;
  padding-left: 20px;
  margin-left: 5px;
  margin-bottom: 1rem;
}

ol.wp-block-list {
  list-style: auto;
  padding-left: 20px;
  margin-left: 5px;
  margin-bottom: 1rem;
}

li.wp-block-list-item {
  line-height: 1.8;
}

.wp-block-table {
  margin-bottom: 1.1rem;
}
.wp-block-table table {
  width: unset;
}
.wp-block-table table.has-fixed-layout {
  width: 100%;
}
.wp-block-table thead {
  border-bottom: unset;
}
.wp-block-table th {
  background-color: var(--eto-main-dark-07);
  color: var(--eto-white);
}
.wp-block-table td,
.wp-block-table th {
  border-color: var(--eto-main-darkcolor);
}
.wp-block-table tfoot {
  border-top: unset;
  background-color: var(--eto-main-light-05);
}
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: rgba(0, 0, 0, 0);
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: var(--eto-main-light-05);
}
.wp-block-table.is-style-stripes tfoot {
  border-top: 2px solid var(--eto-main-color);
}

.wp-element-caption {
  color: #8b8b8b;
  padding-top: 3px;
  padding-bottom: 3px;
}

blockquote.wp-block-quote {
  position: relative;
  margin: 1rem 0;
  padding: 2rem 1.5rem 1.5rem;
  background-color: var(--eto-main-light-05);
}

blockquote.wp-block-quote::before {
  position: absolute;
  content: "❜❜";
  font-size: 3rem;
  color: var(--eto-main-color);
  top: 0;
}

blockquote.wp-block-quote cite {
  font-style: normal;
  font-size: 0.8rem;
  color: #999;
}

/*
ウィジット画面
_________________________________________*/
.wp-block[data-type="core/widget-area"]:first-child h2.wp-block-heading {
  font-size: 1rem;
  position: relative;
  margin-bottom: 2rem;
  padding: 10px;
  background-color: var(--eto-backcolor-secondary);
  color: var(--eto-back-textcolor);
  font-weight: 500;
}
.wp-block[data-type="core/widget-area"]:first-child h2.wp-block-heading::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--eto-backcolor-secondary);
}
.wp-block[data-type="core/widget-area"]:first-child .wp-block-latest-posts__featured-image img {
  width: auto;
  max-height: 218px;
  aspect-ratio: 4/3;
}/*# sourceMappingURL=my_admin.css.map */